@page "/"

<h1>Depth of Field Calculator</h1>

<select>
    @foreach (var camera in DOFCalculator.Client.Models.CameraSensorType.Default)
    {
        <option value=@camera.Value>@camera.Key</option>
    }
</select>